@using BookApp.Web.ViewModels.Author
@model AuthorIndexViewModel


@{
    ViewData["Title"] = "Books by " + Model.Name;
}

<h2>Books by @Model.Name</h2>

<table class="table">
    <tbody>
        <tr>
            <td colspan="2">
                
            </td>
        </tr>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td>
                    <div>
                        <p><strong>Title:</strong> @book.Title</p>
                        <p><strong>Genre:</strong> @book.Genre</p>
                        <p><strong>Pages:</strong> @book.Pages</p>
                        <p><strong>Publisher:</strong> @book.Publisher</p>
                    </div>
                </td>
                <td>
                    <img src="@book.ImageUrl" alt="@book.Title" style="width: 100px;" />
                </td>
            </tr>
        }
    </tbody>
</table>